# data types

In [63]:
a = 5
print(type(a))

<class 'int'>

In [64]:
a = 5.8
print(type(a))

<class 'float'>

In [65]:
a = "3"
print(type(a))

<class 'str'>

In [66]:
a = 2 + 4j
print(type(a))

<class 'complex'>

### type casting

In [67]:
a = 1
a = float(a) # type casting
type(a)

float

### string - immutabel (can not change)

In [68]:
b = 'string'  
b = "string"
print(b)
print(b[2])
print(b[-2])

string
r
n

## can put any type of datatype

 ### list - mutabel

# [ ]

In [69]:
lst = [1, 2, b,'f']  #list - mutabel {can change}
print(lst)
print(lst[3])

[1, 2, 'string', 'f']
f

In [70]:
type(lst)

list

In [71]:
lst[1] =  13 #mutable

In [72]:
lst = 22
lst

22

### tuple - immutable

# ( )

In [73]:
tpl = (1,2,2,3,'r')  #tuple - immutable
print(tpl)
print(tpl[3])

(1, 2, 2, 3, 'r')
3

In [74]:
type(tpl)

tuple

In [76]:
tpl[1] =  13  #imutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
tpl = 22
tpl

22

# Method

### use on particular data type (function works for all)

In [ ]:
# append()	Adds an element at the end of the list
# clear()	    Removes all the elements from the list
# copy()	    Returns a copy of the list
# count()	    Returns the number of elements with the specified value
# extend()	Add the elements of a list (or any iterable), to the end of the current 
# index()	    Returns the index of the first element with the specified value
# insert()	Adds an element at the specified position
# pop()	    Removes the element at the specified position
# remove()	Removes the item with the specified value
# reverse()	Reverses the order of the list
# sort()	    Sorts the list

In [ ]:
list = ['my', 12 ,22]
list

['my', 12, 22]

In [ ]:
list.remove('my')
list

[12, 22]

In [ ]:
list.pop()
list

[12]

In [ ]:
del list #delete entire list
list

list

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
len(thislist)

3

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
my = "dhananjay"

In [ ]:
my.lower()

'dhananjay'

In [ ]:
my.capitalize()

'Dhananjay'

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()  # also work for intiger
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist.reverse()
print(thislist)

['Orange', 'Kiwi', 'cherry', 'banana']

In [ ]:
lst = ["my","bat","boll","dog"]
for string in lst:
    result=string.upper()
    print(result)

# slicing

[start : end : shift]

[start : end : skip]

In [ ]:
print(tpl[1:2])
print(tpl[1:])
print(tpl[:3])
print(tpl[:])

(2,)
(2, 2, 3, 'r')
(1, 2, 2)
(1, 2, 2, 3, 'r')

In [ ]:
print(tpl[0:5:2])
print(tpl[::2])

(1, 2, 'r')
(1, 2, 'r')

### reverse a string

In [ ]:
my = "Dhananjay"
#print(my[::-1])
my[::-1]

'yajnanahD'

In [ ]:
s = 'string'
s = '''string''' # writting multi lines or paragrph
s = "string"
s

'string'

# Dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
print(thisdict["brand"])

Ford

In [ ]:
# Duplicates Not Allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
print(len(thisdict))

3

In [ ]:
type(thisdict)

dict

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
x = thisdict.keys()
x

dict_keys(['name', 'age', 'country'])

In [ ]:
x = thisdict.values()
x

dict_values(['John', 36, 'Norway'])

In [ ]:
x = thisdict.items()
x

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])

In [ ]:
thisdict["name"] = "kalyo"
thisdict

{'name': 'kalyo', 'age': 36, 'country': 'Norway'}

In [ ]:
thisdict.update({"name": "chacho"})
thisdict

{'name': 'chacho', 'age': 36, 'country': 'Norway'}

In [ ]:
# pop() method removes the item with the specified key name:
thisdict.pop("age")
thisdict

{'name': 'chacho', 'country': 'Norway'}

In [ ]:
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [ ]:
List - is a collection which is ordered and changeable. Allows duplicate members.
Tuple - is a collection which is ordered and unchangeable. Allows duplicate members.
Set - is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary - is a collection which is ordered** and changeable. No duplicate members.

# loop

### if

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
# elseif = elif nested if in else
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
# AND
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
# OR
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
# NOT
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
2**5  # 2 ki power 5

32

### while

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while True:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### for

In [ ]:
for x in "banana": # here banana is range
  print(x)

b
a
n
a
n
a

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 30, 3):  # Increment the sequence with 3 (default is 1):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass

## comprehension

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)  # append()	Adds an element at the end of the list

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']